<form method="post" action="{{ path('app_inventory_delete', {'id': inventory.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir Supprimer cet inventaire ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ inventory.id) }}">
    <button class="btn btn-lg btn-danger" type="submit">Supprimer</button>
</form>
