###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/sql/
*.DS_Store
/public/assets/upload/
/public/assets/js/sauvagarde.js
###< symfony/framework-bundle ###

###> liip/imagine-bundle ###
/public/media/cache/
/public/uploads/
###< liip/imagine-bundle ###