<form method="post" action="{{ path('app_balance_delete', {'id': balance.id}) }}" onsubmit="return confirm('Etes vous sû de vouloir supprimer cet équilibrage ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ balance.id) }}">
     <button class="btn btn-lg btn-danger" type="submit">Supprimer</button>
</form>
