<form method="post" action="{{ path('app_vandalism_delete', {'id': vandalism.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir Supprimer ce vandalisme ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vandalism.id) }}">
    <button class="btn btn-lg btn-danger" type="submit">Supprimer</button>
</form>
