{{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.content) }}
    <hr>
    <button class="btn btn-lg btn-success" type="submit">Enregistrer le vandalisme</button>
{{ form_end(form) }}