{% extends 'base.html.twig' %}
{% block title %}Admin Vandalismes{% endblock %}

{% block body %}

<div class="container">
    <h1>affichage des vandalismes</h1>
    <h5>liste l'ensemble des vandalismes constatés</h5>
    <ul>
        <li>Item</li>
    </ul>
</div>
{% endblock %}
