{% extends 'base.html.twig' %}
{% block title %}Admin Vandalismes{% endblock %}

{% block body %}

<div class="container">
    <h1>affichage des vandalismes</h1>
    <h5>liste l'ensemble des vandalismes constatés</h5>
    <ul>
    {% for vadalism in vandalisms %}
        <li class='my-3'>N° {{ vadalism.id }} : {{ vadalism.content | slice(0, 100) ~ ' ...'  }} le {{ vadalism.createdAt|date("d/m/Y") }}</li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
