{% extends 'base.html.twig' %}

{% block title %}New Vandalism{% endblock %}

{% block body %}
    <h1>Create new Vandalism</h1>

    {{ include('vandalism/_form.html.twig') }}

    <a href="{{ path('app_vandalism_index') }}">back to list</a>
{% endblock %}
