{% extends 'base.html.twig' %}
{% block title %}Créer Vandalisme{% endblock %}

{% block body %}
<div class="container">
    <h1>Déclarer un vandalisme</h1>
    {{ include('vandalism/_form.html.twig') }}
   <a href="{{ path('app_vandalism_index') }}"> <button class="btn btn-lg btn-primary" type="submit">Retour à la liste</button></a>
</div>
{% endblock %}
