<form method="post" action="{{ path('app_repair_delete', {'id': repair.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cette réparation ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ repair.id) }}">
    <button class="btn btn-lg btn-danger" type="submit">supprimer</button>
</form>
