{% extends 'base.html.twig' %}

{% block title %}Créer Réparation{% endblock %}

{% block body %}
<div class="container"> 
    <h1>Créer une nouvelle réparation</h1>
    {{ include('repair/_form.html.twig') }}
    <a href="{{ path('app_repair_index') }}"><button class="btn btn-lg btn-primary" type="submit">Retour à la liste</button></a>
</div>
{% endblock %}
