<form method="post" action="{{ path('app_repair_act_delete', {'id': repair_act.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ repair_act.id) }}">
    <button class="btn">Delete</button>
</form>
