{% extends 'base.html.twig' %}

{% block title %}New RepairAct{% endblock %}

{% block body %}
    <h1>Create new RepairAct</h1>

    {{ include('repair_act/_form.html.twig') }}

    <a href="{{ path('app_repair_act_index') }}">back to list</a>
{% endblock %}
