{% extends 'base.html.twig' %}

{% block title %}Station Tour Admin{% endblock %}

{% block body %}
<div class="container">
<h1>Ordonner les station</h1>
  <div class="row">
    <div class="col-lg-12 col-sm-12">
    <h1 class="mb-3">Stations</h1>
        {% for station in stationListOrderByName %}
        N°{{ station.tourOrder}} - <a href="{{ path('order_station', { slug: station.slug}) }}">{{ station.name }}</a><br><br>
        {% endfor %}
    </div>
    <div class="col-lg-12 col-sm-12">
        {{ form(form) }}
    </div>
  </div>
</div>
{% endblock %}
    