{% extends 'base.html.twig' %}

{% block title %}Gestion de la Tournée{% endblock %}

{% block body %}

<!-- this flash message is displayed after user click on verified email-link  --> 
{% for message in app.flashes('isVerified') %}
    <div class="container text-center alert alert-success">
        {{ message }}
    </div>
{% endfor %}

<div class="container">
<h1>TOURNEE</h1>
{% for station in stationsByName %}
<p>Station - <a href="{{ path('order_station', { slug: station.slug}) }}">{{ station.name }}</a> - N° {{station.tourOrder}}</p>
{% endfor %}

</div><!-- end home container --> 


{% endblock %}
