<form method="post" action="{{ path('app_station_delete', {'id': station.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cette station ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ station.id) }}">
    <button class="btn btn-lg btn-danger" type="submit">supprimer</button>
</form>
