{% extends 'base.html.twig' %}
{% block title %}Editer Station{% endblock %}

{% block body %}
<div class="container"> 
    <h1>Modifier cette station</h1>
    {{ include('station/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <a href="{{ path('app_station_index') }}"><button class="btn btn-lg btn-primary" type="submit">Retour liste stations</button></a>
    <hr>
    {{ include('station/_delete_form.html.twig') }}
</div>
{% endblock %}
